name: ON | PUSH | TAG | RELEASE
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

# https://docs.npmjs.com/trusted-publishers
# This flow is setup to publish using Trusted publishing

permissions:
  contents: 'read'
  id-token: 'write'
  packages: 'write'

jobs:
  BUILD_RELEASE:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout service
        id: checkout_service
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: '0'

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - run: npm publish
